doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/fa/css/fontawesome.css')
    link(rel='stylesheet', href='/fa/css/brands.css')
    link(rel='stylesheet', href='/fa/css/solid.css')
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(src="/fa/js/all.min.js") 
  body
    block content
